@import "tailwindcss";
/* @tailwind base;
@tailwind components;
@tailwind utilities; */

/* @import "tailwindcss/preflight";
@import "tailwindcss/utilities"; */

@plugin "daisyui";
/* @plugin "daisyui/theme" {
  name: "light";
  default: true;
  --color-primary: #303082;
  --color-secondary: #F7A703;
   --color-accent: #06745b;
  --color-neutral: #1f2937;
  --color-base-100: #ffffff;
  --color-info: #3abff8;
  --color-success: #36d399;
  --color-warning: #fbbd23;
  --color-error: #f87272;

} */
/* Custom Theme */
@plugin "daisyui/theme" {
  name: "light";
  default: true;

  --color-primary: #303082;
  --color-secondary: #f7a703;
  --color-accent: #06745b;
  --color-neutral: #1f2937;
  --color-base-100: #ffffff;
  --color-info: #3abff8;
  --color-success: #36d399;
  --color-warning: #fbbd23;
  --color-error: #f87272;
}

/* Dark Theme Also Add */
@plugin "daisyui/theme" {
  name: "dark";

  --color-primary: #7e8cff;
  --color-secondary: #ffcf6b;
  --color-accent: #45c5a3;
  --color-neutral: #1a1a1a;
  --color-base-100: #111111;
  --color-info: #0ea5e9;
  --color-success: #22c55e;
  --color-warning: #eab308;
  --color-error: #ef4444;
}
